<p>Hello <%= user.name
        %>,</p>
<p>
    Find below your verification code to complete your registration on Cheerful. The code has a validity of 24 hours and would require an action from
    you to regenerate it again.
</p>
<br><br>

<p><strong>Verification code</strong> </p>
<h3>
    <%= otp.code
        %>
</h3>